@import "../../node_modules/bootstrap/scss/bootstrap";

$body-background: white;
$brand-primary: rgb(153, 153, 153);
$primary-font-size: 14pt;
$body-color: rgb(77, 190, 102);
$btn-font-weight: italic;
$card-border-color: black;
$card-height: 600px;