<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Lab-3</title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<body>
    <main>
        <div>
            <form method="POST" action="/search">
                <label for="user-query">Find Show:</label>
                <br>
                <input id="user-query" type="text" name="searchTerm" placeholder="Your Movie" value="" required />
                <br>
                <button id="search-btn" type="submit">Search</button>
            </form>
            {{{body}}}
        </div>
    </main>
</body>

</html>