<h1>{{title}}</h1>

<p>This website presents information about shows. It uses tvmaze api to get data.</p>

<form method="POST" action="/search">
    <label for="user-query">Find Show:</label>
    <br>
    <input id="user-query" type="text" name="searchTerm" placeholder="Your Movie" value="" />
    <br>
    <button id="search-btn" type="submit">Search</button>
</form>